* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    position: relative;
    min-height: 100vh;
    padding: 60px 100px;
    font-family: Red Hat Text;
    background: hsl(13, 31%, 94%);
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    max-width: 1280px;
    margin: 0 auto;
    gap: 30px;
}

.menu-title {
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 25px;
}

.menu-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.menu-position {
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.position-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    width: 100%;
}

.position-title {
    color: hsl(14, 25%, 72%);
}

.position-description {
    font-weight: 600;
    font-size: 22px;
}

.position-price {
    color: hsl(14, 86%, 42%);
    font-weight: 600;
    font-size: 20px;
}

.add-to-cart {
    position: absolute;
    border: 1px solid hsl(12, 20%, 44%);
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    border-radius: 35px;
    height: 14%;
    width: 50%;
    overflow: hidden;
}

.add-to-cart:hover {
    border: none;
    cursor: pointer;
}


.position-label {
    position: relative;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    margin-bottom: 30px; 
}

.label-img {
    width: 100%;
    border-radius: 25px;
    border: 2px solid transparent;
}

.label-active {
    border: 2px solid hsl(14, 86%, 42%);
}


.label-img:hover {
    border: 2px solid hsl(14, 86%, 42%);
}

.quantity {
    color: hsl(14, 86%, 42%);
}

.price {
    color: hsl(14, 25%, 72%);
}

.price-all {
    
}
/* Hover button--------------------------------------- */

.default-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 12px;
    font-weight: 600;
}

.hover-btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    background: hsl(14, 86%, 42%);
}

.decrement {
    width: 25px;
    padding: 10px 6px;
    border: 1px solid hsl(20, 50%, 98%);
    border-radius: 20px;
}

.increment {
    width: 25px;
    padding: 6px;
    border: 1px solid hsl(20, 50%, 98%);
    border-radius: 20px;
}

.quantity-btn {
    color: hsl(20, 50%, 98%);
}

.hidden {
    display: none;
}

.active-hover {
    display: flex;
}

.active {
    display: flex;
}


/* Cart------------------------------------------- */

.cart {
    background: hsl(20, 50%, 98%);
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
}

.cart h2 {
    color: hsl(14, 86%, 42%);
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-item {
    position: relative;
    border-bottom: 1px solid hsl(14, 25%, 72%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
}

.cart-item-info {
    display: flex;
    gap: 10px;
}

.cart-remove {
    position: absolute;
    right: 2%;
    top: 25%;
    border: 1px solid hsl(12, 20%, 44%);
    width: fit-content;
    padding: 1px 7px;
    border-radius: 50%;
}

.order-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.order-total {
    display: flex;
    justify-content: space-between;
}

.order-price {
    font-weight: 700;
    font-size: 19px;
}

.order-advantage {
    display: flex;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
    text-align: center;
    padding: 14px 0px;
    background: hsl(13, 31%, 94%);
    font-size: 14px;
}

.confirm {
    height: 50px;
    border-radius: 25px;
    border: none;
    font-weight: 600;
    color: hsl(20, 50%, 98%);
    background: hsl(14, 86%, 42%);
}

/* Order confirmed --------------------------- */



.layout-window {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.33)
}

.order-confirmed-window {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: fit-content;
    padding: 30px;
    width: 50%;
    background: hsl(20, 50%, 98%);
    border-radius: 10px;
}

.order-confirmed-logo {
    width: 50px;
}

.order-confirmed {

}

.order-confirmed-description {

}

.order-confirmed-positions {

}

.order-confirmed-total {
    display: flex;
    justify-content: space-between;
}

.order-confirmed-price {
    font-size: 23px;
    font-weight: 700;
}

.order-confirmed-button {
    background: hsl(14, 86%, 42%);
    color: hsl(20, 50%, 98%);
    font-family: Red Hat Text;
    font-weight: 600;
    font-size: 15px;
    border: none;
    height: 50px;
    border-radius: 25px;
}

.hidden-layout {
    display: none;
}

.active-layout {
    display: flex;
}

/* Order confrimed positions */

.order-confirmed-positions {
    padding: 0px 10px;
}

.order-confirmed-position {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;

}

.order-confirmed-position img {
    width: 100px;
}

.order-position-total {
    text-align: center;
}